<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tensquare.gathering.dao.GatheringDao">
    <resultMap id="BaseResultMap" type="com.tensquare.gathering.entity.Gathering">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="summary" property="summary"/>
        <result column="detail" property="detail"/>
        <result column="sponsor" property="sponsor"/>
        <result column="image" property="image"/>
        <result column="starttime" property="starttime"/>
        <result column="endtime" property="endtime"/>
        <result column="address" property="address"/>
        <result column="enrolltime" property="enrolltime"/>
        <result column="state" property="state"/>
        <result column="city" property="city"/>
    </resultMap>
    <sql id="Base_Column_List">
            id,`name`,summary,detail,sponsor,image,starttime,endtime,address,enrolltime,state,city
    </sql>
    <select id="getGatheringList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_gathering;
    </select>

    <select id="getGathering" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_gathering where id=#{ga.id} and `name`=#{ga.name};
    </select>

    <select id="getByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_gathering where `name`=#{ga.name};
    </select>
    <update id="updateGathering" parameterType="com.tensquare.gathering.entity.Gathering">
        update tb_gathering
        <set>
            <if test="name !=null">
                `name`=#{name}
            </if>
            <if test="summary !=null">
                `summary`=#{summary}
            </if>
            <if test="detail !=null">
                `detail`=#{detail}
            </if>
            <if test="sponsor !=null">
                `sponsor`=#{sponsor}
            </if>
            <if test="image !=null">
                `image`=#{image}
            </if>
            <if test="starttime !=null">
                `starttime`=#{starttime}
            </if>
            <if test="address !=null">
                `address`=#{address}
            </if>
            <if test="enrolltime !=null">
                `enrolltime`=#{enrolltime}
            </if>
            <if test="state !=null">
                `state`=#{state}
            </if>
            <if test="city !=null">
                `city`=#{city}
            </if>
        </set>
        where id=#{id} ;
    </update>
    <update id="updategathering" parameterType="com.tensquare.gathering.entity.Gathering">
        update tb_gathering
        <set>
            <if test="ga.name !=null">
                `name`=#{ga.name}
            </if>
            <if test="ga.summary !=null">
                `summary`=#{ga.summary}
            </if>
            <if test="ga.detail !=null">
                `detail`=#{ga.detail}
            </if>
            <if test="ga.sponsor !=null">
                `sponsor`=#{ga.sponsor}
            </if>
            <if test="ga.image !=null">
                `image`=#{ga.image}
            </if>
            <if test="ga.starttime !=null">
                `starttime`=#{ga.starttime}
            </if>
            <if test="ga.address !=null">
                `address`=#{ga.address}
            </if>
            <if test="ga.enrolltime !=null">
                `enrolltime`=#{ga.enrolltime}
            </if>
            <if test="ga.state !=null">
                `state`=#{ga.state}
            </if>
            <if test="ga.city !=null">
                `city`=#{ga.city}
            </if>
        </set>
        where id=#{ga.id} ;
    </update>


    <update id="updatega" parameterType="java.util.List">

        <foreach collection="list" separator=";" item="com.tensquare.gathering.entity.Gathering">
            update tb_gathering
            <set>
                `image`=#{image}

            </set>
            where `id`=#{id}
        </foreach>
    </update>


</mapper>